@using PizzaStore.Models;
@using System.Security.Claims;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <!--  bg-white  border-bottom -->
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Slice Of Heaven</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @foreach (MenuItem menuItem in Model)
                {
                    if (menuItem.Authorized == true && !User.Identity.IsAuthenticated)
                    {
                        continue;
                    }

                    string userRole = "";

                    if (User.IsInRole("Administrator"))
                    {
                        //System.Diagnostics.Debug.WriteLine("foo");
                        userRole = "Administrator";
                    }
                    else if (User.IsInRole("Customer"))
                    {
                        //System.Diagnostics.Debug.WriteLine("bar");
                        userRole = "Customer";
                    }

                    if(menuItem.AllowedRoles == null)
                    {
                        //System.Diagnostics.Debug.WriteLine("foobar");
                        menuItem.AllowedRoles = new List<string>{""};
                    }


                    if (menuItem.DropdownItems != null && menuItem.AllowedRoles.Contains(userRole))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href=# id="navBarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @menuItem.Label
                            </a>
                            
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @foreach (var dropdownItem in menuItem.DropdownItems)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-controller="@dropdownItem.Controller" asp-action="@dropdownItem.Action">
                                            @dropdownItem.Label
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else if (menuItem.Authorized == false)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller=@menuItem.Controller asp-action=@menuItem.Action>@menuItem.Label</a>
                        </li>
                    }
                    else if (menuItem.Authorized == true && menuItem.AllowedRoles.Contains(userRole))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller=@menuItem.Controller asp-action=@menuItem.Action>@menuItem.Label</a>
                        </li>
                    }
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>